*{
    margin: 0;
    padding: 0;
}
.all{
    width: 85%;
    margin: 20px auto;

}
body{
    background-image: url(./2.jpg);
}
 p{
    width: 70%;
    margin: 30px auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    text-shadow: 0 2px 1px rgba(53, 48, 48, 0.652);
}
table{
    background-color: white;
    width: 30%;
    text-align: center;
    margin: 40px auto;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
}

