*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, rgba(64, 192, 35, 0.482), rgba(37, 35, 35, 0.767));
    direction: rtl;
}
.all{
    width: 80%;
    margin: 30px auto;
}
header{
    align-items: center;
}
p{
    margin-right: 550px;
    text-align: center;
    background-color: chartreuse;
    padding: 15px;
    width: 5%;
    border-radius: 20px;
    color: black;
}
.resane{
    content: "";
    clear: both;
    margin: 0 auto;
}
.i{
    width: 40%;
    float: right;
}
img{
    width: 100%;
}
.v{
    width: 40%;
    float: left;
}
video{    border: solid 3px rgba(76, 124, 27, 0.485);

    width: 100%;
}
footer{
    align-items: center;
    clear: both;
    background-color: chartreuse;
    width: 10%;
    border-radius: 5px;
    margin-right: 520px;
    margin-top: 50px;
    
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}